.vertical-child {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.fixedratio {
  padding-top: 75%; /* ensures 16/9 ratio */
  background-size: cover;
  background-position: center center;
}

.position-relative {
  position: relative;
}

.file-icon {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* modal bootstrap override */
.bs-override .close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-weight: 100;
  color: white;
  opacity: 1.0;
  font-size: 28px;
}

.bs-override .modal-dialog {
  margin-top: 10%;
}

.bs-override .modal-footer {
  text-align: left;
}

.bs-override .modal-body {
  padding: 0;
}

.bs-override .modal-content {
  padding: 0;
  border: none;
}

p:last-child {
  margin-bottom: 0;
}

/* modal video */
.embed-responsive iframe {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* blog styles */

.blog-image-first {
  width: 22.5%;
  margin-right: 20px;
}

.blog-image {
  width: 13%;
  margin-right: 20px;
}

.blog-post {
  overflow: auto; /* fixes the background color problem */
}

.blog-teaser {
  padding: 10px;
  min-height: 91px;
}

/* Content List Module */
.content-list-module-wrapper {
  background-color: gray;
}

.content-list-wrapper {
  width: 33%;
  float: left;
}

.content-pane-wrapper {
  width: 67%;
  float: left;
  background-color: lightgray;
}

.content-pane-wrapper.full-width {
  width: 100%;
}

.content-description {
  padding: 0 20px 10px;
}

ul.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.content-trigger {
  background-color: lightgray;
  border-bottom: solid 1px gray;
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: left;
  width: 100%;
}

ul.content-trigger > li {
  float: left;
  position: relative;
  display: block;
}

ul.content-trigger > li.title {
  padding: 10px;
  font-weight: 900;
}

.content-thumbnail {
  position: relative;
}
