/* Custom Styles for Passion Volunteer Management System */

body {
  color: #000000;
}

div a {
  color: #000000;
}

div p, div em {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.h5 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.pad-top-30 {
  padding-top: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-btm-30 {
  margin-bottom: 30px;
}

.margin-btm-neg-20 {
  margin-bottom: -20px;
}

.btn-bw {
  border: 4px solid #000000;
  background-color: transparent;
  color: #000000;
}

.btn-bw:hover {
  background-color: #000000;
  color: #FFFFFF;
}

a.a-wrapper,
a.a-wrapper:hover,
a.a-wrapper:visited,
a.a-wrapper:active
{
  color: initial;
  text-decoration: none;
}

.vertical-child {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.fixedratio {
  padding-top: 75%; /* ensures 16/9 ratio */
  background-size: cover;
  background-position: center center;
}

.position-relative {
  position: relative;
}

.file-icon {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*ul.block-line {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: left;
  width: 100%;
}

ul.block-line > li {
  float: left;
  position: relative;
  display: block;
}*/

/* announcement styles */
.announcement {
  padding: 20px;
  color: black;
  box-shadow: 0 0 5px #888888;
}

.announcement h3 {
  margin-top: 0;
}

/* Section spacing relies on vertical margins collapsing when they touch each other */
section.section-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Grid Section Module styles */
.card h3 img {
    max-width: 25px;
    max-height: 25px;
    padding-right: 5px;
    padding-bottom: 3px;
}

/* modal bootstrap override */
.bs-override .close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-weight: 100;
  color: white;
  opacity: 1.0;
  font-size: 28px;
}

.bs-override .modal-dialog {
  margin-top: 10%;
}

.bs-override .modal-footer {
  text-align: left;
  padding: 0;
}

.bs-override .modal-body {
  padding: 0;
}

.bs-override .modal-content {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #F3F3F3;
}

p:last-child {
  margin-bottom: 0;
}

/* modal video */
.embed-responsive iframe {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* blog styles */

.blog-image {
  width: 35%;
  height: 100%;
  float: left;
}

.blog-teaser {
  height: 200px;
  float: left;
  min-resolution: 80vw;
  box-shadow: 0 0 5px #888888;
}

.blog-teaser h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 22px;
}

.blog-teaser p, .blog-teaser em {

}

.blog-excerpt em {
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 14px;
  color: #888888;
}

.blog-excerpt {
  overflow: hidden; /* this is incredibly important */
  padding: 10px;
  height: 100%;
  position: relative;
}

.blog-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Cards - used for Team Index and Grid Section */

.card {
  border-radius: 3px;
  box-shadow: 0 0 5px #888888;
  margin-top: 30px;
}

.card .fixedratio {
  border-radius: 3px 3px 0 0;
}

.card h3 {
  font-weight: 400;
  padding: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

/* Content List Module */
.content-list-module-wrapper {
  background-color: #F3F3F3;
}

.content-list-wrapper {
  width: 33%;
  float: left;
  padding: 5px;
}

.content-pane-wrapper {
  width: 67%;
  float: left;
  background-color: #F3F3F3;
}

.content-pane-wrapper.full-width {
  width: 100%;
}

.content-description {
  padding: 10px 20px 20px;
}

.content-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.content-description img.content-image {
  padding-top: 10px;
}

.content-description a.btn {
  margin-top: 20px;
}

ul.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-trigger {
  background-color: #F3F3F3;
  padding: 5px;
}

.content-trigger > .title {
  padding-left: 10px;
  font-weight: 900;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vert-center {
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.content-thumbnail {
  position: relative;
}
