/* Custom Styles for Passion Volunteer Management System */

body {
  color: #000000;
}

div a {
  color: #000000;
}

div p, div em {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.h5 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.pad-top-30 {
  padding-top: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-btm-30 {
  margin-bottom: 30px;
}

.margin-btm-neg-20 {
  margin-bottom: -20px;
}

.btn.btn-bw {
  border: 4px solid #000000;
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  padding: 18px 85px;
}

.btn-bw:hover {
  background-color: #000000;
  color: #FFFFFF;
}

a.a-wrapper,
a.a-wrapper:hover,
a.a-wrapper:visited,
a.a-wrapper:active
{
  color: initial;
  text-decoration: none;
}

.vertical-child {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.fixedratio {
  padding-top: 75%; /* ensures 16/9 ratio */
  background-size: cover;
  background-position: center center;
}

.position-relative {
  position: relative;
}

.file-icon {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Header style overrides */
.site-content header {
  min-height: 60vh;
  margin-top: -40px;
}

/* announcement styles */
.announcement {
  padding: 20px;
  color: black;
  box-shadow: 0 0 5px #888888;
}

.announcement h3 {
  margin-top: 0;
}

/* Section spacing relies on vertical margins collapsing when they touch each other */
section.section-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Grid Section Module styles */
.card h3 img {
    max-width: 25px;
    max-height: 25px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.bg-cover .card {
  /*box-shadow: none;*/
}

.bg-cover h2.h5 {
  color: #FFFFFF;
}

/* modal bootstrap override */
.bs-override .close {
  position: absolute;
  top: -30px;
  right: -30px;
  font-weight: 100;
  color: white;
  opacity: 1.0;
  font-size: 28px;
}

.bs-override .modal-dialog {
  margin-top: 10%;
}

.bs-override .modal-footer {
  text-align: left;
  padding: 0;
}

.bs-override .modal-body {
  padding: 0;
}

.bs-override .modal-content {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #F3F3F3;
}

p:last-child {
  margin-bottom: 0;
}

/* modal video */
.embed-responsive iframe {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* blog styles */

.blog-image {
  width: 35%;
  height: 100%;
  float: left;
}

.blog-teaser {
  height: 200px;
  width: 100%;
  float: left;
  min-resolution: 80vw;
  box-shadow: 0 0 5px #888888;
}

.blog-teaser h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 22px;
}

.blog-teaser p, .blog-teaser em {

}

.blog-excerpt em {
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 14px;
  color: #888888;
}

.blog-excerpt {
  overflow: hidden; /* this is incredibly important */
  padding: 10px;
  height: 100%;
  position: relative;
}

.blog-excerpt .blog-lead {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.blog-content {
  padding-top: 40px;
}

.single-blog .blog-lead {
  padding-bottom: 20px;
}

.single-blog em {
  color: #888888;
}

.single-blog img.top-image {
  width: 100%;
}


/* Cards - used for Team Index and Grid Section */

.card {
  border-radius: 3px;
  box-shadow: 0 0 5px #888888;
  margin-top: 30px;
  background-color: #FFFFFF;
}

.card .fixedratio {
  border-radius: 3px 3px 0 0;
}

.card h3 {
  font-weight: 400;
  padding: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.new-tag {
  position: absolute;
  background-color: rgb(158, 23, 72);
  font-size: 12px;
  line-height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 0 10px;
  top: 40px;
  right: 25px;
}

.new-tag-inline {
  position: absolute;
  background-color: rgb(158, 23, 72);
  font-size: 12px;
  line-height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 0 10px;
  bottom: 5px;
  right: 5px;
}

/* Content List Module */
.content-list-module-wrapper {
  background-color: #F3F3F3;
}

.content-list-wrapper {
  width: 32%;
  float: left;
  padding: 5px;
  overflow-y: scroll;
}

.content-pane-wrapper {
  width: 68%;
  height: 465.56px;
  float: left;
  background-color: #F3F3F3;
  position: relative; /* For the #video-bigger button */
}

.button-footer {
  height: 86px;
}

.button-footer .two-btns {
  width: 48%;
}

.content-pane-wrapper.full-width {
  width: 100%;
  height: auto;
}

#video-bigger {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 32px;
  height: 31px;
  padding: 8px 5px;
  z-index: 999;
  border-radius: 0 3px 3px 0;
}

#video-bigger:hover {
  background-color: rgba(128,128,128,0.5);
}

#video-bigger:hover .icon-bar {
  background-color: rgba(255,255,255,1.0);
}
.icon-bar {
  margin-bottom:3px;
  display: block;
  width: 22px;
  height: 3px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 1px;
}

.content-description {
  padding: 10px 20px 20px;
}

.content-title {
  height: 70px;
  overflow-y: scroll;
}

.content-title h4 {
  text-transform: none;
  margin-top: 7px;
  margin-bottom: 4px;
}

.content-description img.content-image {
  padding-top: 10px;
  height: 278.56px;
}

.content-description img.content-image.no-buttons {
  height: 364.56px;
}

.content-description a.btn {
  margin-top: 20px;
}

ul.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-trigger {
  background-color: #F3F3F3;
  padding: 5px;
}

.content-trigger > .title {
  padding-left: 14px;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-trigger > .title i {
  font-size: 18px;
}

.content-thumbnail {
  height: 56px;
  width: 75px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

li.active .title {
  color: gray;
}

.title:hover {
  color: gray;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
